<!DOCTYPE html>
<html>

    <script src="bower_components/angular/angular.js"></script>
    <script src="../source/service.js"></script>
    <script src="../source/directive.js"></script>
    <script src="../source/module.js"></script>
    <script src="demo.js"></script>

<body ng-app="demo" ng-controller="main">

    <audio ng-audio-sprite="audio/sprite.json"></audio>

    <button ng-repeat="id in list" ng-click="play(id)">{{id}}</button>

    <br />

    <button ng-click="mute()">Mute</button>
    <button ng-click="pause()">Pause</button>
    <button ng-click="stop()">Stop</button>
    <input ng-change="volume()" ng-model="volumeValue" type="number" min="0" max="100" />

</body>
</html>